PORT=
host=
DB_PORT=
user=
password=
database=
SESSION_SECRET=
SSO_BASE_URL=https://platoniks.ru/sso
SSO_CLIENT_ID=buy
SSO_CLIENT_SECRET=
SSO_CALLBACK_URL=https://buy.platoniks.ru/api/cb
SSO_SERVICE_ID=12
JWT_SECRET=
AUTH_SESSION_SECRET=
AUTH_SESSION_COOKIE_NAME=buy.sid
AUTH_SESSION_TTL=8h
BALALAIKA_NOTIFY_URL=https://msg.platoniks.ru/notify
BALALAIKA_NOTIFY_KEY=
